<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DOSPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" maxBufferPoolSize="5242880" maxBufferSize="655360"
                    maxReceivedMessageSize="655360" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" proxyCredentialType="None"
                            realm="" />
                    </security>
                </binding>
                <binding name="DOSPortBinding1" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="655360" maxReceivedMessageSize="655360"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="DOSSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="DOSSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://engs-uknees.eng.ox.ac.uk:53135/DatOX/DOS"
                behaviorConfiguration="ClientAuth" binding="basicHttpBinding"
                bindingConfiguration="DOSPortBinding" contract="ServiceReference1.DOS"
                name="DOSPort1" />
            <endpoint address="https://sm41.jrc.it:53135/DatOX/DOS" behaviorConfiguration="ClientAuth"
                binding="basicHttpBinding" bindingConfiguration="DOSPortBinding"
                contract="ServiceReference1.DOS" name="DOSPort2" />
            <endpoint address="https://193.205.212.147:53135/DatOX/DOS" behaviorConfiguration="ClientAuth"
                binding="basicHttpBinding" bindingConfiguration="DOSPortBinding"
                contract="ServiceReference1.DOS" name="DOSPort3" />
            <endpoint address="https://194.149.134.51:53135/DatOX/DOS" behaviorConfiguration="ClientAuth"
                binding="basicHttpBinding" bindingConfiguration="DOSPortBinding"
                contract="ServiceReference1.DOS" name="DOSPort4" />
            <endpoint address="https://147.102.153.162:53135/DatOX/DOS" behaviorConfiguration="ClientAuth"
                binding="basicHttpBinding" bindingConfiguration="DOSPortBinding"
                contract="ServiceReference1.DOS" name="DOSPort5" />
            <endpoint address="https://treeslab-eucentre.unipv.it:53135/DatOX/DOS"
                behaviorConfiguration="ClientAuth" binding="basicHttpBinding"
                bindingConfiguration="DOSPortBinding" contract="ServiceReference1.DOS"
                name="DOSPort6" />
            <endpoint address="https://seriesdb.ce.tuiasi.ro:53135/DatOX/DOS"
                behaviorConfiguration="ClientAuth" binding="basicHttpBinding"
                bindingConfiguration="DOSPortBinding" contract="ServiceReference1.DOS"
                name="DOSPort7" />
            <endpoint address="http://www.series.upatras.gr:53135/DatOX/DOS"
                binding="basicHttpBinding" bindingConfiguration="DOSPortBinding1"
                contract="ServiceReference1.DOS" name="DOSPort8" />
            <endpoint address="https://centrifuge-nantes.ifsttar.fr:53135/DatOX/DOS?wsdl"
                behaviorConfiguration="ClientAuth" binding="basicHttpBinding"
                bindingConfiguration="DOSPortBinding" contract="ServiceReference1.DOS"
                name="DOSPort9" />
            <endpoint address="https://ikpir-mr5.fgg.uni-lj.si:53135/DatOX/DOS?wsdl"
                behaviorConfiguration="ClientAuth" binding="basicHttpBinding"
                bindingConfiguration="DOSPortBinding" contract="ServiceReference1.DOS"
                name="DOSPort10" />
            <endpoint address="https://portal.itu-steellab.org:53135/DatOX/DOS?wsdl"
                behaviorConfiguration="ClientAuth" binding="basicHttpBinding"
                bindingConfiguration="DOSPortBinding" contract="ServiceReference1.DOS"
                name="DOSPort11" />
            <endpoint address="https://elsadata:53136/SERIESConnector/DOS?wsdl"
                behaviorConfiguration="ClientAuth" binding="basicHttpBinding"
                bindingConfiguration="DOSPortBinding" contract="ServiceReference1.DOS"
                name="DOSPort12" />
            <endpoint address="http://engs-uknees.eng.ox.ac.uk:53135/DatOX/DOS"
                binding="basicHttpBinding" bindingConfiguration="DOSPortBinding1"
                contract="ServiceReference1.DOS" name="DOSPort" />
            <endpoint address="https://elsadata:53136/SERIESConnector/DOS"
                binding="basicHttpBinding" bindingConfiguration="DOSSoapBinding"
                contract="ServiceReference1.DOS" name="DOSPort13" />
        </client>
      
      <behaviors>
        <endpointBehaviors>
          <behavior name="ClientAuth">
            <clientCredentials>
              <clientCertificate  storeLocation="CurrentUser" x509FindType="FindByThumbprint"  findValue="63 c7 84 6f 97 97 da 98 38 38 34 97 16 a8 38 78 28 95 82 c7" />
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
    </system.serviceModel>

  <system.diagnostics>

    <trace autoflush="true"/>

    <sources>

      <source name="System.Net" maxdatasize="1024">

        <listeners>

          <add name="TraceFile"/>

        </listeners>

      </source>

      <source name="System.Net.Sockets" maxdatasize="1024">

        <listeners>

          <add name="TraceFile"/>

        </listeners>

      </source>

    </sources>

    <sharedListeners>

      <add name="TraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Documents and Settings\giannis\Desktop\trace.log"/>

    </sharedListeners>

    <switches>

      <add name="System.Net" value="Verbose" />

      <add name="System.Net.Sockets" value="Verbose" />

    </switches>

  </system.diagnostics>


</configuration>





